$bg: rgba(0, 0, 0, 0.882);
$conBg: #ffbf01;
$textColor: #000000;
$textBg: #FFFFFF;

.convenientFont{
    font-size: 18px;
    font-weight: 600;
}

body {
    background-color: #000000;
    background: url("https://i.imgur.com/55ZQJbz.png%22");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $textColor;
    z-index: 1;
}

.Brand {
    position: absolute;
    left: 10%;
    top: 0.2em;
}

.navbar {
    display: flex;
    align-items: center;
}

.signup {
    position: absolute;
    right: 5%;
    top: 1.5em;

}


.login {
    position: absolute;
    right: 12%;
    top: 1.5em;
}

a:link {
    font-size: 18px;
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

nav {
    background-color: $conBg;
    // height: 3.3em;
    height: 5em;
    line-height: 3.3em;
    padding: 0 13.5em;
    width: 100%;
    vertical-align: middle;
}

.logo {
    text-decoration: none;
}

.logo-design{
    height: 5em;
    width: 5em;
    position: absolute;
    left: 47.8%;
    right: 52.2%;
}

.greeting{
    position: absolute;
    left: 30%;
    right: 80%;
    max-height: 4em;
}

.nav-links {
    margin-left: 8em
}


#lazyBrew-header {
    background-color: $textBg;
    display: flex;
    // justify-content: center;
}

.appContainer {
//    display: flex;
    // justify-content: center;
    // align-items: center;
}
.ContainerMainContainer {
    display: flex;
    width: 50%;
    align-self: center;
}

.FlexDisplay {
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#main_wrapper {
    display: flex;
    flex: auto;
    position: relative;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-color: $textBg;
    text-align: center;
    max-width: 100%;
    align-self: center;
    left: 50%;
    right: 50%;
    // margin-top: 30px;
   
    // left: 600px;
}

#main_wrapper2 {
    display: flex;
    flex: auto;
    position: relative;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: $textBg;
    text-align: center;
    max-width: 100%;
    align-self: center;
    left: 50%;
    right: 50%;
    margin-top: 30px;
   
    // left: 600px;
}

#allHotelsWrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $conBg;
    margin-top: 30px;
}

#allHotelsWrapper div {
    margin: 5px;
}

.hotelcontainer {
    background-color: pink;
    width: 45%;
}


#input-box {
    padding: 8px;
    border-radius: 8px;
}

#locationButton {
    padding: 8px;
    border-radius: 8px;
    border-style: none;
}

.allBreweriesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breweryGridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "content content"
        "content content"
        "content content"
        "footer footer";
    background-color: $textBg;
    margin: 1em;
}

.box {
    background-color: $textBg;
    margin: 0em;
}

.header {
    grid-area: header;
    background-color: $textBg;
}

.content {
    grid: content;
}

.footer {
    grid-area: footer;
}

.hotelGridContainer {
    // display: grid;
    // grid-template-columns: 1fr 2fr;
    // grid-template-areas:
    //     "header header"
    //     "content content"
    //     "content content"
    //     "content content"
    //     "content content"
    //     "footer footer";
    // background-color: $textBg;
}

.hide-button{
    width: 5px;
    margin-right: 99%;
    background-color: black
}

.hotel {
    background-color: $textBg;
    margin: 1em;
}

.hotelWrapper {
    margin-top: 30px;
    background-color: $textBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}